{{ form_start(form) }}
<div class="form-group is-empty">
	<label>{{ form_label(form.nom, 'Nom') }}</label>
	{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group is-empty">
	<label>{{ form_label(form.presentation, 'Présentation') }}</label>
	{{ form_widget(form.presentation, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
	<label>{{ form_label(form.date, 'Date') }}</label>
	<div class="input-group date">
		<div class="input-group-addon">
			<i class="fa fa-calendar"></i>
		</div>
		{{ form_widget(form.date, {'attr': {'class': 'form-control js-datepicker'}}) }}
	</div>
</div>
<div class="form-group is-empty">
	<label>{{ form_label(form.place, 'Place') }}</label>
	{{ form_widget(form.place, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group is-empty">
	<label>{{ form_label(form.pictures, 'Ajouter des images') }}</label>
	{{ form_widget(form.pictures, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="row">
	{% for picture in event.pictures %}
		<div class="col-md-3">
			<img src="{{asset(picture.url)}}"/>
		</div>
	{% endfor %}
</div>
<button class="btn btn-default">{{ button_label|default('Save') }}</button>
<a href="{{ path('event_index') }}" class="btn btn-danger pull-right">Retourner à la liste</a>
{{ form_end(form) }}
