{% set lieu = '' %}
{% set type = '' %}
{% set budget = '' %}
{% set params = app.session.get('aSearchParam') %}
{% set nom = '' %}
{% if params is not null and params is not empty %}
    {% set lieu = params.lieu %}
    {% set type = params.type %}
    {% set budget = params.budget %}
    {% set nom = params.nom %}
{% endif %}
<header id="header">
    <div class="header-top">
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="{{path('home')}}">Accueil</a></li>
                    <li><a href="{{path('search_detail',{ 'type':'restaurant' })}}">Restaurant et Snack</a></li>
                    <li><a href="{{path('search_detail',{ 'type':'hotel' })}}">Hotels</a></li>
                    <li><a href="#">Autres</a>
                        <ul>
                            <li><a href="{{path('search_detail',{ 'type':'event' })}}">Evènement</a></li>
                            <li><a href="{{path('search_detail',{ 'type':'recette' })}}">Recette</a></li>
                        </ul>
                    </li>
                    <li><a href="{{path('contact')}}">Contact</a></li>
                    {% if is_granted('ROLE_ADMIN') %}<li><a href="{{path('admin')}}">Admin</a></li>{% endif %}
                    {% if is_granted('ROLE_USER') %}
                    <li><a href="{{path('fos_user_security_logout')}}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                    {% else %}
                    <li><a href="{{path('fos_user_security_login')}}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                    <li><a href="{{path('fos_user_registration_register')}}">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</a></li>
                    {% endif %}
                </ul>
            </nav>	
        </div>
    </div>
</header>