{% extends "base.html.twig" %}
{% block header %}
    {%include 'default/header.html.twig'%}
{% endblock %}
{% block body %}
    <section class="about-banner relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">				
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Recette				
                    </h1>	
                </div>	
            </div>
        </div>
    </section>
    <!-- End banner Area -->	

    <!-- Start image galerie -->
    <section class="hot-deal-area section-gap">
        <div class="container">						
            <div class="section-top-border">
                <h3>A la une</h3>
                <div class="row gallery-item">
                    <div class="col-md-4">
                        <a href="img/elements/g1.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(img/elements/g1.jpg);"></div></a>
                    </div>
                    <div class="col-md-4">
                        <a href="img/elements/g2.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(img/elements/g2.jpg);"></div></a>
                    </div>
                    <div class="col-md-4">
                        <a href="img/elements/g3.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(img/elements/g3.jpg);"></div></a>
                    </div>
                    <div class="col-md-6">
                        <a href="img/elements/g4.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(img/elements/g4.jpg);"></div></a>
                    </div>
                    <div class="col-md-6">
                        <a href="img/elements/g5.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(img/elements/g5.jpg);"></div></a>
                    </div>
                    <div class="col-md-4">
                        <a href="img/elements/g6.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(img/elements/g6.jpg);"></div></a>
                    </div>
                    <div class="col-md-4">
                        <a href="img/elements/g7.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(img/elements/g7.jpg);"></div></a>
                    </div>
                    <div class="col-md-4">
                        <a href="img/elements/g8.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(img/elements/g8.jpg);"></div></a>
                    </div>
                </div>
            </div>
        </div>	
        <!-- End image galerie -->

        <!-- Start Align Area -->
        <div class="whole-wrap">
            <div class="container">
                <div class="section-top-border text-right">
                    <h3 class="mb-30">Right Aligned</h3>
                    <div class="row">
                        <div class="col-md-9">
                            <p class="text-right">Over time, even the most sophisticated, memory packed computer can begin to run slow if we don’t do something to prevent it. The reason why has less to do with how computers are made and how they age and more to do with the way we use them. You see, all of the daily tasks that we do on our PC from running programs to downloading and deleting software can make our computer sluggish. To keep this from happening, you need to understand the reasons why your PC is getting slower and do something to keep your PC running at its best. You can do this through regular maintenance and PC performance optimization programs</p>
                            <p class="text-right">Before we discuss all of the things that could be affecting your PC’s performance, let’s talk a little about what symptoms</p>
                        </div>
                        <div class="col-md-3">
                            <img src="img/elements/d.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="section-top-border text-right">
                    <h3 class="mb-30">Right Aligned</h3>
                    <div class="row">
                        <div class="col-md-9">
                            <p class="text-right">Over time, even the most sophisticated, memory packed computer can begin to run slow if we don’t do something to prevent it. The reason why has less to do with how computers are made and how they age and more to do with the way we use them. You see, all of the daily tasks that we do on our PC from running programs to downloading and deleting software can make our computer sluggish. To keep this from happening, you need to understand the reasons why your PC is getting slower and do something to keep your PC running at its best. You can do this through regular maintenance and PC performance optimization programs</p>
                            <p class="text-right">Before we discuss all of the things that could be affecting your PC’s performance, let’s talk a little about what symptoms</p>
                        </div>
                        <div class="col-md-3">
                            <img src="img/elements/d.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div><div class="container">
                <div class="section-top-border text-right">
                    <h3 class="mb-30">Right Aligned</h3>
                    <div class="row">
                        <div class="col-md-9">
                            <p class="text-right">Over time, even the most sophisticated, memory packed computer can begin to run slow if we don’t do something to prevent it. The reason why has less to do with how computers are made and how they age and more to do with the way we use them. You see, all of the daily tasks that we do on our PC from running programs to downloading and deleting software can make our computer sluggish. To keep this from happening, you need to understand the reasons why your PC is getting slower and do something to keep your PC running at its best. You can do this through regular maintenance and PC performance optimization programs</p>
                            <p class="text-right">Before we discuss all of the things that could be affecting your PC’s performance, let’s talk a little about what symptoms</p>
                        </div>
                        <div class="col-md-3">
                            <img src="img/elements/d.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>			
        <!-- Start Align Area -->

        <!-- Start other-offers Area -->
        <section class="other-issue-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10">D'autres offres</h1>
                </div>
            </div>
        </div>					
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img class="img-fluid" src="{{ asset('assets/img/o1.jpg') }}" alt="">					
                    </div>
                    <a href="{{path('restorant')}}">
                        <h4>Restaurant </h4>
                    </a>
                    <p>
                        The preservation of human life is the ultimate value, a pillar of ethics and the foundation.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img class="img-fluid" src="{{ asset('assets/img/o2.jpg') }}" alt="">					
                    </div>
                    <a href="{{path('hotel')}}">
                        <h4>Hotel</h4>
                    </a>
                    <p>
                        I was always somebody who felt quite sorry for myself, what I had not got compared.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img class="img-fluid" src="{{ asset('assets/img/o3.jpg') }}" alt="">					
                    </div>
                    <a href="#">
                        <h4>Evénement</h4>
                    </a>
                    <p>
                        The following article covers a topic that has recently moved to center stage–at least it seems.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img class="img-fluid" src="{{ asset('assets/img/o4.jpg') }}" alt="">					
                    </div>
                    <a href="{{path('recette')}}">
                        <h4>Recette</h4>
                    </a>
                    <p>
                        There are many kinds of narratives and organizing principles. Science is driven by evidence.
                    </p>
                </div>
            </div>																		
        </div>
    </div>	
</section>
{% endblock %}
{% block footer %}
    {%include 'default/footer.html.twig'%}
{% endblock %}
