{% extends "base.html.twig" %}
{% block ckcss %}
	<link rel="stylesheet" href="{{ asset('assets/ck/ck.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/ck/cknavbar.css') }}">
	<link rel="stylesheet" href="{{asset('assets/js/joMap/leaflet.css')}}">
	<link rel="stylesheet" href="{{asset('assets/js/joMap/joMap.css')}}">
{% endblock %}

{% block body %}
	{% include "default/cknavbarppl.html.twig" %}
	{% include "default/cknavbar.html.twig" %}
	{% include "Etablissement/content/hotelContent.html.twig" %}
	<h3><span class="clearfix borda"></span></h3>
{% endblock %}

{% block footer %}
	{%include 'default/footer.html.twig'%}
{% endblock %}

{% block ckscript %}
<script src="{{asset('assets/js/joMap/leaflet.js')}}"></script>
<script>
/*------------------------------------------------------*/
/*                   JO SCRIPT MAPS                     */
/*------------------------------------------------------*/
$(document).ready(() => {
    //https://www.coordonnees-gps.fr/ <== rehefa aka latitude sy logitude maina
    const lat = $('#mapid').attr('latitude');
    const long = $('#mapid').attr('longitude');
    const zoomLevel = 13;
    const hotel = $('#mapid').attr('hotel');
    const popupHTML = `
        Emplacement de l'hotel <b>${hotel}</b>
    `;

    const joMap = L.map('mapid').setView([lat, long], zoomLevel);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: '&copy; joMap',
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1
    }).addTo(joMap);

    L.marker([lat, long]).addTo(joMap)
        .bindPopup(popupHTML).openPopup();
});

/*------------------------------------------------------*/


var current = 0,
    slides = $('.pictures');

setInterval(function () {
    $('.pictures').each((i, el) => {
        $(el).css('opacity', '0');
    })
    current = (current != $('.pictures').length - 1) ? current + 1 : 0;
    $('.pictures').css('opacity', '0');
    $($('.pictures')[current]).css('opacity', '1');
}, 4000);
</script>
{% endblock %}