{#<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
#}

<!DOCTYPE html>
<html lang="fr" class="no-js">
    {% block head %}
        {% block stylesheets %}
            <head>
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="author" content="colorlib">
                <meta name="description" content="">
                <meta name="keywords" content="">
                <meta charset="UTF-8">

                <link rel="shortcut icon" href="img/fav.png">
                <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
                <link rel="stylesheet" href="{{ asset('assets/css/linearicons.css') }}">
                <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
                <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
                <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css') }}">
                <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.css') }}">				
                <link rel="stylesheet" href="{{ asset('assets/css/nice-select.css') }}">							
                <link rel="stylesheet" href="{{ asset('assets/css/animate.min.css') }}">
                <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.css') }}">				
                <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
            </head>
        {% endblock %}
        {% block title %}
            <title>c-bcp.cm</title>
        {% endblock %}
    {% endblock %}
    <body class="landing is-preload">

        <header id="header">
            {% block header %}
            {% endblock %}
        </header>
        {% block body %}
        {% endblock %}
        <footer class="footer-area section-gap"  id="footer">
            {% block footer %}
            {% endblock %}
        </footer>
        {% block javascript %}
            <script src="{{ asset('assets/js/vendor/jquery-2.2.4.min.js') }}"></script>
            <script src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/bootstrap.min.js') }}"></script>			
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>		
            <script src="{{ asset('assets/js/jquery-ui.js') }}"></script>			
            <script src="{{ asset('assets/js/easing.min.js') }}"></script>
            <script src="{{ asset('assets/js/hoverIntent.js') }}"></script>
            <script src="{{ asset('assets/js/superfish.min.js') }}"></script>	
            <script src="{{ asset('assets/js/jquery.ajaxchimp.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>						
            <script src="{{ asset('assets/js/jquery.nice-select.min.js') }}"></script>					
            <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>							
            <script src="{{ asset('assets/js/mail-script.js') }}"></script>	
            <script src="{{ asset('assets/js/main.js') }}"></script>
            <script src="{{ asset('assets/js/app.js') }}"></script>
            
            <script src="{{ asset('assets/home/js/jquery.scrollex.min.js') }}"></script>
            <script src="{{ asset('assets/home/js/jquery.scrolly.min.js') }}"></script>
            <script src="{{ asset('assets/home/js/browser.min.js') }}"></script>
            <script src="{{ asset('assets/home/js/breakpoints.min.js') }}"></script>
            <script src="{{ asset('assets/home/js/util.js') }}"></script>
            <script src="{{ asset('assets/home/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>